# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Sphinx documentation
docs/sphinx/build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment
.env
.venv/
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
