0.017 0.002 0.0001 0.027 10 100 0.1 0.5 3800 5500
3.2  0.0    1.9    6.5
0.4  0.1    0.0   2.5
9
6545 6590 mask_elines.txt _legacy/Ha_LVM.config 9 _legacy/mask_elines_H.txt 20 4000
6700 6750 mask_elines.txt _legacy/SII_LVM.config 9 _legacy/mask_elines_H.txt 20 4000
4800 5030 mask_elines.txt _legacy/OIII_LVM.config 9 _legacy/mask_elines_H.txt 20 4000
4310 4370 mask_elines.txt _legacy/Hg_LVM.config 9 _legacy/mask_elines_H.txt 20 4000
4095 4150 mask_elines.txt _legacy/Hd_LVM.config 9 _legacy/mask_elines_H.txt 20 4000
6260 6330 mask_elines.txt _legacy/OI_LVM.config 9 _legacy/mask_elines_H.txt 20 4000
3700 3750 mask_elines.txt _legacy/OII_LVM.config 9 _legacy/mask_elines_H.txt 20 4000
9030 9100 mask_elines.txt _legacy/SIII_LVM_9060.config 9 _legacy/mask_elines_H.txt 20 4000
9500 9570 mask_elines.txt _legacy/SIII_LVM_9530.config 9 _legacy/mask_elines_H.txt 20 4000
0.0001  1 0.00
6588 6760
